// Primary Colors
$charchol:   #2f3131;
$royal-blue: #426E86;
$gold-yellow: #F9C044;
$off-white:  #F8F1E5;
$moss-green: #465E22;

// cool-tone colors

$grey:            #7A7B7B;
$light-blue:      #97AFBD;
$mellow-yellow:   #FBD688;
$seashell:        #FAF6EE;
$artichoke:       #899872 ;
